.icon {
    background-size: contain;
    display: inline-block;
    mask-repeat: no-repeat;
}

.standard-size {
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: 24px 24px;
}

.search-icon {
    @extend .icon;
    @extend .standard-size;
    background: url('/assets/icons/search-icon.svg') left bottom no-repeat;
}

.edit-icon {
    @extend .icon;
    @extend .standard-size;
    background: url('/assets/icons/edit-icon.svg') left bottom no-repeat;
}

.delete-icon {
    @extend .icon;
    @extend .standard-size;
    background: url('/assets/icons/delete-icon.svg') left bottom no-repeat;
}