<div class="synonyms-list-wrapper">
    <div *ngIf="(synonymsCount$ | async) || !(searchWord$ | async); else noData" class="synonyms-list">
        <div *ngFor="let synonym of (synonyms$ | async)">
            <div *ngIf="synonym !== synonymForUpdate; else updateSyn" class="list-item">
                <p>{{ synonym }}</p>
                <div class="icon-group">
                    <div class="edit-icon" (click)="updateSynonym(synonym)"></div>
                    <div class="delete-icon" (click)="onSynonymDelete(synonym)"></div>
                </div>
            </div>
            <ng-template #updateSyn>
                <div class="list-item">
                    <input class="input" autofocus maxlength="30" [formControl]="synonymUpdateFormControl" type="text"/>
                    <div class="icon-group">
                        <div class="close-icon" (click)="onCancelUpdate()"></div>
                        <button class="btn green" [disabled]="synonymUpdateFormControl.invalid" (click)="onSynonymUpdate(synonym)">SAVE</button>
                    </div>
                </div>
                <div *ngIf="synonymUpdateFormControl.invalid && (synonymUpdateFormControl.dirty || synonymUpdateFormControl.touched)" class="error-container">
                    <div *ngIf="synonymUpdateFormControl.errors?.['required']">
                        Synonym is required.
                    </div>
                    <div *ngIf="synonymUpdateFormControl.errors?.['maxlength']">
                        Synonym can't have more than 30 letters.
                    </div>
                    <div *ngIf="synonymUpdateFormControl.errors?.['pattern']">
                        Synonym can't contain numbers or special characters.
                    </div>
                </div>
            </ng-template>
        </div>
        <ng-container *ngTemplateOutlet="addNewSynonymTemplate"></ng-container>
    </div>
    <ng-template #noData>
        <div class="container-center ">
            <p class="no-data-text">No synonyms found for "{{ searchWord$ | async }}"</p>
        </div>
        <ng-container *ngTemplateOutlet="addNewSynonymTemplate"></ng-container>
    </ng-template>
</div>

<ng-template #addNewSynonymTemplate>
    <div *ngIf="(searchWord$ | async)" class="container-center">
        <div *ngIf="!synonymFormToggle; else addNew" class="container-center">
            <p class="add-new-text">Add new synonym for word "{{ searchWord$ | async }}"</p>
            <button class="btn" (click)="addNewSynonym()">ADD</button>
        </div>
        <ng-template #addNew>
            <div class="input-wrapper">
                <input class="input" autofocus placeholder="Ex. word" maxlength="30" [formControl]="synonymFormControl" type="text"/>
            </div>
            <div *ngIf="synonymFormControl.invalid && (synonymFormControl.dirty || synonymFormControl.touched)" class="error-container">
                <div *ngIf="synonymFormControl.errors?.['required']">
                    Synonym is required.
                </div>
                <div *ngIf="synonymFormControl.errors?.['maxlength']">
                    Synonym can't have more than 30 letters.
                </div>
                <div *ngIf="synonymFormControl.errors?.['pattern']">
                    Synonym can't contain numbers or special characters.
                </div>
            </div>
            <div class="buttons-container">
                <button class="btn" (click)="onSynonymCancel()">CANCEL</button>
                <button class="btn green" [disabled]="synonymFormControl.invalid" (click)="onSynonymSave()">SAVE</button>
            </div>
        </ng-template>
    </div>
</ng-template>